html {
    /*Interesting change in color, possible.*/
    background:;rgb(0, 127, 165);rgb(44, 195, 242);*/
}

#intro {
    width: 100%;
    display: none;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-size: 72px;
    position: absolute;
}

header #logolink:hover ~ #intro {
    display: inline-block;
}

header nav div ul:hover > #intro {
    display: inline-block;
}


@media (max-width: 913px){
    #intro {
        font-size: 36px;
    }
}

.bigblock img {
    position: absolute;
    top: 21%;
    padding: 1em;
    opacity: .4;
}

.comingsoon {
    top: 15em;
    left: 3em;
    position: absolute;
    color: black;
    display: none;
}

.bigblock:hover img {
    opacity: .9;
    transition: all .5s ease-out;
}

.bigblock:hover .comingsoon {
    display:block;
}

.inside div {
    background: rgb(44, 195, 242);rgb(0, 127, 165);
    position: absolute;
    width: 3em;
    height: 1em;
    border-radius: 3px;
    /*box-shadow: 5px 5px white;*/
}


@keyframes ballanim {
    0% {top: 1.7em; left: 2em;}
    28.5% {top: 9.7em; left:10.5em;}
    46.3% {top: 15.3em; left: 5.5em;}
    60.5% {top: 10.7em; left: 1.5em;}
    100% {top: 1.7em; left: 10.5em;}
}

#ball {
    top: 1.7em;
    left: 2em;
    width: 1em;
    animation: ballanim 5s linear infinite alternate;
}

@keyframes paddleanim {
    0% {left: 1.8em;}
    100% {left: 8.7em;}
}

#paddle1 {
    top: 1em;
    left: 1.8em;
    animation: paddleanim 5s linear infinite alternate;
}

#paddle2 {
    top: 16em;
    right: 2em;
    animation: paddleanim 5s ease-in infinite alternate-reverse;
}


@keyframes titleanim {
    0% {top: 1em; left: 1em; width: 11em; height: 2em;}
    10% {top: 1em; left: 1em; width: 11em; height: 2em;}
    28% {left: 1em; top: 1em; width: 11em; height: 3em;}
    38% {left: 1em; top: 1em; width: 11em; height: 3em;}
    62% {left: 1em; top: 1em; width: 2em; height: 16em;}
    72% {left: 1em; top: 1em; width: 2em; height: 16em;}
    90% {left: 1em; top: 9em; width: 5em; height: 7em;}
    100% {left: 1em; top: 9em; width: 5em; height: 7em;}
}

.site #title {
    width: 11em;
    height: 2em;
    top: 1em;
    left: 1em;
    animation: titleanim 10s linear infinite alternate;
}

@keyframes sideranim {
    0% {left: 1em; top: 4em; width: 3em; height: 10em;}
    10% {left: 1em; top: 4em; width: 3em; height: 10em;}
    28% {left: 1em; top: 5em; width: 11em; height: 3em;}
    38% {left: 1em; top: 5em; width: 11em; height: 3em;}
    62% {left: 4em; top: 1em; width: 2em; height: 16em;}
    72% {left: 4em; top: 1em; width: 2em; height: 16em;}
    90% {left: 1em; top: 1em; width: 5em; height: 7em;}
    100% {left: 1em; top: 1em; width: 5em; height: 7em;}
}

.site #sider {
    width: 3em;
    height: 11.9em;
    top: 3.2em;
    left: 1em;
    animation: sideranim 10s linear infinite alternate;
}

@keyframes mainanim {
    0% {left: 5em; top: 4em; width: 7em; height: 10em;}
    10% {left: 5em; top: 4em; width: 7em; height: 10em;}
    28% {left: 1em; top: 9em; width: 11em; height: 3em;}
    38% {left: 1em; top: 9em; width: 11em; height: 3em;}
    62% {left: 7em; top: 1em; width: 2em; height: 16em;}
    72% {left: 7em; top: 1em; width: 2em; height: 16em;}
    90% {left: 7em; top: 1em; width: 5em; height: 7em;}
    100% {left: 7em; top: 1em; width: 5em; height: 7em;}
}

.site #main {
    width: 7.8em;
    height: 11.9em;
    top: 3.2em;
    left: 4.2em;
    animation: mainanim 10s linear infinite alternate;
}

@keyframes footanim {
    0% {left: 1em; top: 15em; width: 11em; height: 2em;}
    10% {left: 1em; top: 15em; width: 11em; height: 2em;}
    28% {left: 1em; top: 13em; width: 11em; height: 3em;}
    38% {left: 1em; top: 13em; width: 11em; height: 3em;}
    62% {left: 10em; top: 1em; width: 2em; height: 16em;}
    72% {left: 10em; top: 1em; width: 2em; height: 16em;}
    90% {left: 7em; top: 9em; width: 5em; height: 7em;}
    100% {left: 7em; top: 9em; width: 5em; height: 7em;}
}

.site #foot {
    width: 11em;
    height: 1.4em;
    top: 15.3em;
    left: 1em;
    animation: footanim 10s linear infinite alternate;
}

@keyframes bounceranim1 {
    0% {left: 2em; top: 15em; height: 1px; width: 1em;}
    20% {left: 2em; top: 12em; height: 3em; width: 1em;}
    25% {left: 2em; top: 12em; height: 3em; width: 1em;}
    27% {top: 12.2em; height: 2.8em; width: 1.2em; left: 1.9em;}
    30% {top: 12.2em; height: 2.8em; width: 1.2em; left: 1.9em;}
    33% {top: 12em; height: 3em; width: 1em; left: 2em; transform: rotate(0deg);}
    40% {top: 1em; width: 1em; height: 3em; left: 2em; transform: rotate(360deg);}
    40.0001% {transform: rotate(0);}
    42% {top: 1em; width: 2em; height: 1px; left: 1.5em; transform: rotate(0);}
    67% {top: 1em; width: 1.2em; height: 1.5em; left: 1.8em;}
    70% {top: 1em; width: 1.2em; height: 1.5em; left: 1.8em;}
    85% {left: 2em; top: 13em; height: 2em; width: 1em;}
    90% {left: 2em; top: 15em; height: 1px; width: 1em;}
}

#bouncer1 {
    left: 2em;
    top: 15em;
    height: 1px;
    width: 1em;
    animation: bounceranim1 5s cubic-bezier(.21,.68,.68,.27) infinite normal;
}

@keyframes bounceranim2 {
    0% {left: 6em; top: 15em; height: 1px; width: 1em;}
    20% {left: 6em; top: 12em; height: 3em; width: 1em;}
    25% {left: 6em; top: 12em; height: 3em; width: 1em;}
    27% {top: 12.2em; height: 2.8em; width: 1.2em; left: 5.9em;}
    30% {top: 12.2em; height: 2.8em; width: 1.2em; left: 5.9em;}
    33% {top: 12em; height: 3em; width: 1em; left: 6em; transform: rotate(0);}
    40% {top: 1em; width: 1em; height: 3em; left: 6em; transform: rotate(0);}
    40.0001% {transform: rotate(0);}
    42% {top: 1em; width: 2em; height: 1px; left: 5.5em;}
    67% {top: 1em; width: 1.2em; height: 1.5em; left: 5.8em;}
    70% {top: 1em; width: 1.2em; height: 1.5em; left: 5.8em;}
    85% {left: 6em; top: 13em; height: 2em; width: 1em;}
    90% {left: 6em; top: 15em; height: 1px; width: 1em;}
}

#bouncer2 {
    left: 6em;
    top: 15em;
    height: 1px;
    width: 1em;
    animation: bounceranim2 5s cubic-bezier(.04,.51,.27,.94) infinite normal;
}

@keyframes bounceranim3 {
    0% {left: 10em; top: 15em; height: 1px; width: 1em;}
    20% {left: 10em; top: 12em; height: 3em; width: 1em;}
    25% {left: 10em; top: 12em; height: 3em; width: 1em;}
    27% {top: 12.2em; height: 2.8em; width: 1.2em; left: 9.9em;}
    30% {top: 12.2em; height: 2.8em; width: 1.2em; left: 9.9em;}
    33% {top: 12em; height: 3em; width: 1em; left: 10em; transform: rotate(0);}
    40% {top: 1em; width: 1em; height: 3em; left: 10em; transform: rotate(-360deg);}
    40.0001% {transform: rotate(0);}
    42% {top: 1em; width: 2em; height: 1px; left: 9.5em;}
    67% {top: 1em; width: 1.2em; height: 1.5em; left: 9.8em;}
    70% {top: 1em; width: 1.2em; height: 1.5em; left: 9.8em;}
    85% {left: 10em; top: 13em; height: 2em; width: 1em;}
    90% {left: 10em; top: 15em; height: 1px; width: 1em;}
}

#bouncer3 {
    left: 10em;
    top: 15em;
    height: 1px;
    width: 1em;
    animation: bounceranim3 5s cubic-bezier(.87,.22,.28,.87) infinite normal;
}

div .articleblock {
    left: 1em;
    width: 0;
    height: 1.5em;
}

@keyframes line1anim {
    0% {width: 0;}
    6.25% {width: 11em;}
    50% {width: 11em; left: 1em;}
    66.25% {width: 0; left: 12em;}
}

#line1 {
    top: 1em;
    animation: line1anim 10s cubic-bezier(.62,.14,.85,.36) infinite normal;
}

@keyframes line2anim {
    6.25% {width: 0;}
    12.5% {width: 11em;}
    56.25% {width: 11em; left: 1em;}
    72.5% {width: 0; left: 12em;}
}

#line2 {
    top: 3em;
    animation: line2anim 10s cubic-bezier(.44,.73,.85,.36) infinite normal;
}

@keyframes line3anim {
    12.5% {width: 0;}
    18.75% {width: 11em;}
    62.5% {width: 11em; left: 1em;}
    78.75% {width: 0; left: 12em;}
}

#line3 {
    top: 5em;
    animation: line3anim 10s cubic-bezier(.17,.71,.5,.95) infinite normal;
}

@keyframes line4anim {
    18.75% {width: 0;}
    25% {width: 11em;}
    68.75% {width: 11em; left: 1em;}
    85% {width: 0; left: 12em;}
}

#line4 {
    top: 7em;
    animation: line4anim 10s cubic-bezier(.17,.71,.5,.95) infinite normal;
}

@keyframes line5anim {
    25% {width: 0;}
    31.25% {width: 11em;}
    75% {width: 11em; left: 1em;}
    91.25% {width: 0; left: 12em;}
}

#line5 {
    top: 9em;
    animation: line5anim 10s cubic-bezier(.44,.73,.85,.36) infinite normal;
}

@keyframes line6anim {
    31.25% {width: 0;}
    37.5% {width: 11em;}
    81.25% {width: 11em; left: 1em;}
    97.5% {width: 0; left: 12em;}
}

#line6 {
    top:  11em;
    animation: line6anim 10s cubic-bezier(.17,.71,.5,.95) infinite normal;
}

@keyframes line7anim {
    37.5% {width: 0;}
    43.75% {width: 11em;}
    87.5% {width: 11em; left: 1em;}
    100% {width: 0;}
}

#line7 {
    top: 13em;
    animation: line7anim 10s cubic-bezier(.44,.73,.85,.36) infinite normal;
}

@keyframes line8anim {
    43.75% {width: 0;}
    50% {width: 11em;}
    93.75% {width: 11em; left: 1em;}
    100% {width: 0; left: 12em;}
}

#line8 {
    top: 15em;
    animation: line8anim 10s cubic-bezier(.62,.14,.85,.36) infinite normal;
}



#squished1 {
    top: 0;
    height: 0;
    animation: squished1anim 5s cubic-bezier(.83,.27,.53,.79) infinite normal;
}

@keyframes squished2anim {
    0% {top: 0; height: 0;}
    15% {top: 0; height: 0;}
    19% {top: 0; height: 4em;}

    25% {top: 8.9em;}

    94% {top: 8.9em; height: 4em;}
    97% {top: 12.9em; height: 0;}
    100% {top: 0; height: 0;}
}
#squished2 {
    top: 0;
    height: 0;
    animation: squished2anim 5s cubic-bezier(.83,.27,.53,.79) infinite normal;
}

@keyframes squished3anim {
    0%  {top: 0; height: 0;}
    25% {top: 0; height: 0;}
    29% {top: 0; height: 4em;}

    32% {top: 4.8em;}

    91.5% {top: 4.8em; height: 4em;}
    94% {top: 8.8em; height: 0;}

    100% {top: 0; height: 0;}
}
#squished3 {
    top: 0;
    height: 0;
    animation: squished3anim 5s cubic-bezier(.83,.27,.53,.79) infinite normal;
}

@keyframes squisheranim {
    0% {top: 0; height: 0;}

    87% {top: 0; height: 0;}
    91% {top: 0; height: 4em;}

    100% {top: 13em; height: 4em;}
}
#squisher {
    top: 0;
    height: 0;
    animation: squisheranim 5s linear infinite normal;
}

