html {
    color: #555555;
}

/*
    text-align: center; centers inline-block children

    margin-left: -5em; makes it so the first element on a line
    is still positioned correctly :D
*/
.blockcontainer {
    text-align: center;
    margin-top: -2em;
    margin-left: -5em;
}

.bigblock {
    /*  I can increase the size of the blocks and animations
    *   by increasing the font-size 
    */
    font-size: 18px;
    width: 13em;
    height: 18em;
    margin-left: 5em;
    margin-top: 5em;
    display: inline-block;
    position: relative;
    text-align: left;
    overflow: auto;
}

.bigblock:hover {
    animation: jiggle 1000ms linear both;
    outline: 2px solid rgb(44, 195, 242);
}

a:active .bigblock {
    opacity: .1;
}
